{% extends 'learning_logs/base.html' %}

{% block content %}
<style>
    .topic-header {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
    }

    .entries-header {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .entry-container {
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
        font-family: 'Merriweather', sans-serif;
        color: #333;
        width: 100%; /* 确保容器宽度充满 */
    }

    .entry-date {
        font-size: 14px;
        color: #666;
        margin-bottom: 10px;
    }

    .entry-text {
        font-size: 16px;
        line-height: 1.6;
    }

    .edit-link {
        font-size: 14px;
        color: #007bff;
        text-decoration: none;
    }

    .add-entry-link {
        font-size: 16px;
        font-weight: bold;
        color: #007bff;
        text-decoration: none;
        margin-bottom: 20px;
    }
</style>

<div class="topic-header">{{ topic }}</div>
<div class="entries-header">Entries:</div>
<p><a href="{% url 'learning_logs:new_entry' topic.id %}" class="add-entry-link">Add new entry</a></p>

<ul style="list-style: none; padding: 0;">
    {% for entry in topic.entry_set.all %}
    <li class="entry-container">
        <div class="entry-date">{{ entry.date_added|date:'M d, Y H:i' }}</div>
        <div class="entry-text">{{ entry.text|linebreaks }}</div>
        <div><a href="{% url 'learning_logs:edit_entry' entry.id %}" class="edit-link">Edit entry</a></div>
    </li>
    {% empty %}
    <li>There are no entries for this topic yet.</li>
    {% endfor %}
</ul>
{% endblock content %}